# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Media Assets (Large RAW files / Backups)
*.MXF
*.zip
src/assets/**/*.MXF
src/assets/**/*.zip
src/assets/The Sauce/Deliverables/the_sauce_final.mp4

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
